[*.cs]

# EF1001: Internal EF Core API usage.
dotnet_diagnostic.EF1001.severity = warning

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none

# IDE0067: Dispose objects before losing scope
dotnet_diagnostic.IDE0067.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = none

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true:silent
