@model PagedResult<ReviewViewModel>
@{
    ViewData["Title"] = "Review";
}

@section Scripts{
    <script src='https://widgets.sociablekit.com/google-reviews/widget.js' async defer></script>
}


<section class="main reviews">
    <div class="container">
        <div class="col-12">
            <h2 class="title">Reviews:</h2>
            <div class="desc">
                <p>Please help our business by reviewing us online!</p>
                <p>
                    Many people have found our nail salon through the Internet. It would really make a difference if
                    you can say something nice about us. You may have to sign up for an account to post a review,
                    but it is very quick and easy.
                </p>
            </div>
        </div>

        <div class='sk-ww-google-reviews' data-embed-id='245679'>
        </div>
    </div>s
</section>

