
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
}
@section Scripts{

    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/post/postcategory.js" asp-append-version="true"></script>
    <script>
        var postCategory = new postCategoryController();
        postCategory.initialize();</script>
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Danh mục bài viết</li>
    </ol>
</nav>
<div class="clearfix"></div>

<div class="x_panel">
    <div class="x_content">
        <div class="row">
            <div class="col-md-12 pull-right">
                <button id="btnCreate" class="btn btn-brand btn-elevate btn-icon-sm">
                    <i class="fa fa-plus"></i>
                    New Record
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <ul id="treeProductCategory"></ul>
                        <div id="contextMenu" class="easyui-menu" style="width:120px;">
                            <div id="btnEdit" data-options="iconCls:'icon-edit'">Sửa</div>
                            <div id="btnDelete" data-options="iconCls:'icon-remove'">Xoá</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_AddEditCategoryModal.cshtml" />
