
@model ReviewViewModel
@{
    ViewData["Title"] = "Feedback management";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>

   
        <script src="~/app/controllers/review/detail.js" asp-append-version="true"></script>
        <script>

            var review = new ReviewEditController();
            review.initialize();
        </script>
   
}




<input type="hidden" id="hid-category-id" value="0" />
<div class="">
    <div class="row">
        <div class="col-md-6">
            <h3>
                Review
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a href="/Admin/review">Back</a>
                </small>
            </h3>

        </div>
        <div class="col-md-6 text-right">



        </div>
    </div>


    <div class="clearfix"></div>
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-lg-6">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group row">
                            <input type="hidden" id="hidIdM" asp-for="Id" />
                            <input type="hidden" id="hidImage" asp-for="AvartarFullUrl" />
                            <label for="txtNameM" class="col-sm-2 control-label no-padding-right">Name</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtNameM" asp-for="Name" class="form-control" id="txtNameM">
                            </div>
                        </div>

                        <div class="form-group row">

                            <label for="txtAuthor" class="col-sm-2 control-label no-padding-right">Author</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtAuthor" asp-for="Author" class="form-control" id="txtAuthor">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Vote" class="col-sm-2 control-label no-padding-right"></label>
                            <div class="col-sm-10">
                                <select asp-for="Vote" id="slVote" class="form-control" asp-items="@(new SelectList(ViewBag.ListVote))"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Social" class="col-sm-2 control-label no-padding-right"></label>
                            <div class="col-sm-10">
                                <select asp-for="Social" id="slSocial" class="form-control" asp-items="@(new SelectList(ViewBag.ListSocial,"Id","Name"))"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Content" class="col-sm-2 control-label no-padding-right"></label>
                            <div class="col-sm-10">
                                <textarea rows="4" asp-for="Content" id="txtContent" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label asp-for="Icon" class="col-sm-2 control-label no-padding-right"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="Icon" id="txtIcon" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Avartar" class="col-sm-2 control-label no-padding-right"></label>
                            <div class="col-sm-6">
                                @*<input type="text" name="txtImage" readonly class="form-control" id="txtImage" />*@
                                <input type="file" id="fileInputImage" style="display:none" />
                                <button type="button" id="btnSelectImg" class="btn btn-sm btn-primary">Attach file</button>
                                <img width="100" id="image_upload_preview" />

                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-2"></div>
                            <div class="col-sm-10">
                                <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

