@model ProductViewModel
@{
    ViewData["Title"] = "Product management";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>

    <environment names="Development">

        <script src="~/app/controllers/product/image-management.js" asp-append-version="true"></script>
        <script src="~/app/controllers/product/quantity-management.js" asp-append-version="true"></script>
        <script src="~/app/controllers/product/whole-price-management.js" asp-append-version="true"></script>
        <script src="~/app/controllers/product/details.js" asp-append-version="true"></script>
        <script>
            var productId = @Model.Id;
            var product = new productController();
            product.initialize();          
        </script>
    </environment>
    <environment names="Staging,Production">
        <script>
            var product = new productController();
            product.initialize();</script>
    </environment>
}

<input type="hidden" id="hid-category-id" value="0" />
<div class="">
    <div class="row">
        <div class="col-md-6">
            <h3>Product management
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a href="/Admin/Product">quay lại trang sản phẩm</a>
                </small>
            </h3>
            
        </div>
        <div class="col-md-6 text-right">

          

        </div>
    </div>


    <div class="clearfix"></div>
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Thêm sửa sản phẩm</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Hình ảnh</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Quản lý giá</a>
                            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div id="horizontal-form">
                                <form class="form-horizontal" role="form" id="frmMaintainance">
                                    <div class="form-group row">
                                        <input type="hidden" id="hidIdM" asp-for="Id" />
                                        <label for="txtNameM" class="col-sm-2 control-label no-padding-right">Tiêu đề</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="txtNameM" asp-for="Name" class="form-control" id="txtNameM">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label no-padding-right">Danh mục</label>
                                        <div class="col-sm-10">
                                            <input id="ddlCategoryIdM" required class="form-control" name="ddlCategoryIdM" value="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Mô tả</label>
                                        <div class="col-sm-10">
                                            <textarea rows="4" name="txtDescM" class="form-control" id="txtDescM"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtUnitM" class="col-sm-2 control-label no-padding-right">Số lượng</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="txtUnitM" class="form-control" id="txtUnitM">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label ">Giá bán</label>
                                        <div class="col-sm-2">
                                            <input type="text" name="txtPriceM" class="form-control" id="txtPriceM">
                                        </div>

                                        <label class="col-sm-2 control-label">Giá gốc</label>
                                        <div class="col-sm-2">
                                            <input type="text" name="txtOriginalPriceM" class="form-control" id="txtOriginalPriceM">
                                        </div>
                                        <label class="col-sm-2 control-label">Giá Khuyến mãi</label>
                                        <div class="col-sm-2">
                                            <input type="text" name="txtPromotionPriceM" class="form-control" id="txtPromotionPriceM">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtImageM" class="col-sm-2 control-label no-padding-right">Hình ảnh</label>
                                        <div class="col-sm-6">
                                            @*<input type="text" name="txtImage" readonly class="form-control" id="txtImage" />*@
                                            <input type="file" id="fileInputImage" style="display:none" />
                                            <button type="button" id="btnSelectImg" class="btn btn-sm btn-primary">Attach file</button>
                                            <img width="100" id="image_upload_preview" />

                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="txtContentM" class="col-sm-2 control-label no-padding-right">Content</label>
                                        <div class="col-sm-10">
                                            <textarea id="txtContent" rows="6" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtMetakeywordM" class="col-sm-2 control-label no-padding-right">SEO title</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="txtSeoPageTitleM" class="form-control" id="txtSeoPageTitleM">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtSeoAliasM" class="col-sm-2 control-label no-padding-right">SEO Url</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="txtSeoAliasM" class="form-control" id="txtSeoAliasM">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtMetakeywordM" class="col-sm-2 control-label no-padding-right">SEO Keywords</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="txtMetakeywordM" class="form-control" id="txtMetakeywordM">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtMetaDescriptionM" class="col-sm-2 control-label no-padding-right">SEO Description</label>
                                        <div class="col-sm-10">
                                            <textarea rows="3" name="txtMetaDescriptionM" class="form-control" id="txtMetaDescriptionM"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtTagM" class="col-sm-2 control-label no-padding-right">Tag (separated by comma)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="txtTagM" data-role="tagsinput" class="form-control" id="txtTagM">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" checked="checked" id="ckStatusM">
                                                    <span class="text">Active.</span>
                                                </label>
                                                <label>
                                                    <input type="checkbox" id="ckHotM">
                                                    <span class="text">Hot product</span>
                                                </label>

                                                <label>
                                                    <input type="checkbox" checked="checked" id="ckShowHomeM">
                                                    <span class="text">Show on home</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <div class="col-sm-10">
                                            <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
                                            <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                          <partial name="_ImageManagement.cshtml" />
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <partial name="_WholePriceManagement.cshtml" />
                        </div>
                        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                            <partial name="_QuantityManagement.cshtml" />
                        </div>
                    </div>
                </div>
            </div>

               
        </div>
    </div>
</div>
