<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="c:\program files\microsoft visual studio\2022\community\common7\ide\extensions\microsoft\web tools\projectsystem\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44352/Cms.Website/,ws://localhost:49919/Cms.Website/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1dxFiFLF+RcgXh2s0Xi3dsogfkixN3tAHtRwvHoC0pjlbi3TTsbp3bXIIX79tczwmwrEzNDiQ0YobdDs6j9v2TaMAossVeQwumhLydUXHrIMcZiH12KsL+ZScmjujbbQJ6//dFNK92ssFAIdjZcbw4TaEfH9e6WVzwV9ZC4pl4DDtcre1F5wUE3nJ7EFIo3Hsa1e/EJiytZUprun8UqE5FGYkK3DPSHoSmEYa6DZNjKox8kcg33T/6TvhxXJ2nu7nVN4P422F6FJ0iqD3jvheY86lCMnsuVe1z/wMLjDHuzGSVSVdHGuWWm38MENSKweq+6pP+VKIPcVbKwJHelnfQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>